.taskItem {
  display: flex;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between;
}

.task {
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  gap: 10px;
}

.checkbox {
  margin-right: 10px;
}

.task h3 {
  margin: 0;
  font-size: 18px;
}

.task p {
  margin: 5px 0;
  color: #666;
}