.to-do-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  max-width: 600px;
  margin: 120px auto 0 auto;
}
.title {
  padding: 20px 30px;
  border: 2px solid var(--purple);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  font-size: 22px;
}
.home {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
form {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--purple);
  background: var(--secondaryBackground);
}
textarea {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--purple);
  background: var(--secondaryBackground);
}
button {
  height: 47px;
  width: 134px;
  align-self: center;
  border-radius: 12px;
  border: 2px solid var(--purple);
  background: var(--purple);
  color: var(--text);
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  font-size: 23px;
}
ul {
  list-style: none;
}
.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  width: 100%;
}
.no-items {
  margin-block: 40px;
  padding: 10px;
  font-size: 30px;
}
.taskItem {
  display: flex;
  padding: 10px;
  background-color: var(--secondaryBackground);
  border-radius: 10px;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  flex: 1;
  row-gap: 20px;
}

.task {
  display: flex;
  width: 100%;
  gap: 12px;
  gap: 15px;
  flex-direction: column;
  flex-wrap: nowrap;
  border-bottom: 2px solid black;
}
.task input {
  height: 20px;
  width: 20px;
}
.icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.icons img {
  cursor: pointer;
  height: 25px;
  width: 25px;
  transition: transform 0.2s ease;
  margin: 0 10px;
}
.completed p {
  text-decoration: line-through;
  color: var(--teal);
}
a {
  background-color: var(--purple);
  text-decoration: none;
  color: var(--text);
}
